## LGMVIP - DataScience
### Beginner Level Task
##### Task 1: Iris Flowers Classification ML Project
---

## **Importing Modules**

In [35]:
import numpy as np
import pandas as pd

## **Loading the dataset**

In [36]:
df = pd.read_csv('iris.csv')
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)         species
0                  5.1               3.5  ...               0.2     Iris-setosa
1                  4.9               3.0  ...               0.2     Iris-setosa
2                  4.7               3.2  ...               0.2     Iris-setosa
3                  4.6               3.1  ...               0.2     Iris-setosa
4                  5.0               3.6  ...               0.2     Iris-setosa
..                 ...               ...  ...               ...             ...
145                6.7               3.0  ...               2.3  Iris-virginica
146                6.3               2.5  ...               1.9  Iris-virginica
147                6.5               3.0  ...               2.0  Iris-virginica
148                6.2               3.4  ...               2.3  Iris-virginica
149                5.9               3.0  ...               1.8  Iris-virginica

[150 rows x 5 columns]

In [37]:
# stats about data
df.describe()

       sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
count         150.000000        150.000000         150.000000        150.000000
mean            5.843333          3.054000           3.758667          1.198667
std             0.828066          0.433594           1.764420          0.763161
min             4.300000          2.000000           1.000000          0.100000
25%             5.100000          2.800000           1.600000          0.300000
50%             5.800000          3.000000           4.350000          1.300000
75%             6.400000          3.300000           5.100000          1.800000
max             7.900000          4.400000           6.900000          2.500000

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   species            150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [38]:
# samples count
df['species'].value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: species, dtype: int64

## **Preprocessing the dataset**

In [39]:
# check for null values
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
species              0
dtype: int64

## **Label Encoder**

In [40]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['species'] = encoder.fit_transform(df['species'])
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2        0
1                4.9               3.0  ...               0.2        0
2                4.7               3.2  ...               0.2        0
3                4.6               3.1  ...               0.2        0
4                5.0               3.6  ...               0.2        0

[5 rows x 5 columns]

## **Training and Testing Data**

In [51]:
from sklearn.model_selection import train_test_split
# train: 70; test: 30
X = df.drop(columns=['species'])
Y = df['species']
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.30)

### **Logistic Regression**

In [42]:
# logistic regression 
from sklearn.linear_model import LogisticRegression
logreg_model = LogisticRegression()

In [ ]:
# model training
logreg_model.fit(x_train, y_train)

In [55]:
# accuracy for logistic regression
print("Accuracy: ",logreg_model.score(x_test, y_test) * 100)

Accuracy:  95.55555555555556

### **K-Nearest Neighbours**

In [45]:
# knn - k-nearest neighbours
from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier()

In [46]:
knn_model.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [47]:
# accuracy for knn
print("Accuracy: ",model.score(x_test, y_test) * 100)

Accuracy:  100.0